{% extends 'base.html' %}
{% block content %}
<h1>Frequently Asked Questions</h1>
<h2><li>What is the main difference between events and activities?</li></h2>
<h3>Events are more focused on 18-25 years old people (youth generation), activities are for everyone.</h3>
<h2><li>How do I create an account?</li></h2>
<h3>You first need to go to sign up and from there you can easily create an account.</h3>
<h2><li>Is there an age limitations for people to use B-Social?</li></h2>
<h3>Yes, you need to be above 13 years old at least in order to use B-Social.</h3>
<h2><li>If I don't have a friend to join the events/activities with is it okey?</li></h2>
<h3>No, it is one of the main purposes of this website, making friends through the events/activities.</h3>
{% endblock content %}
