<!-- myapp/templates/base.html -->
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}My Django Site{% endblock %}</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Ana Sayfa</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'profile' %}">Profil</a></li>
                <li><a href="{% url 'logout' %}">Çıkış Yap</a></li>
            {% else %}
                <li><a href="{% url 'signin' %}">Giriş Yap</a></li>
                <li><a href="{% url 'signup' %}">Kayıt Ol</a></li>
            {% endif %}
        </ul>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>